<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-PabAleBravo/blob/main/Semana_2_M%C3%B3dulo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Librerias
import pandas as pd

# Examen 1

In [17]:
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df

    a   b
0  11  21
1  21  22
2  31  23

In [18]:
df.iloc[0,1]

21

In [19]:
df.iloc[1,0] #Este es el resultado correcto, por que pide, cuál es el código que da el segundo valor de la primera columna

21

In [21]:
import pandas as banana #Si es funcional el código pero no es la forma estandarizada de ponerle el nombre a pandas, por lo que se puede dificultar el entendimiento

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

# Examen 2

In [22]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [23]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

# Ejercicio

In [27]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [25]:
df['a'].unique() #Identificar cuales son los valores únicos del array

array([1, 2])

In [26]:
df[df['a']<2] #Sólo se muestran las columnas que son menores a 2

   a  b
0  1  1
2  1  1

In [34]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
df = pd.read_csv(filename)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [38]:
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
df2 = pd.read_excel(xlsx_path)
df2.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [40]:
x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [42]:
x = df2[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [43]:
y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [47]:
df2.iloc[0, 0]

'Michael Jackson'

In [48]:
df2.iloc[1,2]

1980

In [49]:
df2.loc[1, 'Released']

1980